svg.chess-board {
  width: 100vw;
  height: 110vw;
  background: burlywood;
  /* background: url("/assets/chessboard.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  max-height: 100vh;
  max-width: 90.909vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: auto;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
}