div.board {
  background-image: url('/assets/chessboard.svg');
  width: 500px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}

div.board-content {
  width: 450px;
  height: 500px;
  padding: 25px;
}
